@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: #222;
	background: #eee
}

h1 {
	font-size: 24pt;
	margin-top: 20px;
	margin-bottom: 8px;
	color: #6392d3
}

p {
	color: #133263
}

.carousel__slide-focus-ring {
	display: none !important;
	outline-width: 0 !important;
}